{% extends "base.html" %}
{% block content %}
<div><p>登陆信息: <b>{{loginMsg}}</b></p></div>
<div><p>查询信息: <b>{{queryMsg}}</b></p></div>
<div><p>==========考试信息==========</p></div>
<div><p>近期考试: <b>{{recentTest}}</b></p></div>
<div><p>全级人数: <b>{{gradeStudentNum}}</b></p></div>
<div><p>班级人数: <b>{{classStudentNum}}</b></p></div>
<div><p>==========考试总体情况==========</p></div>
<div><p>全科总分: <b>{{allScore}}</b></p></div>
<div><p>你的总分: <b>{{yourScore}}</b></p></div>
<div><p>班级平均分: <b>{{classAvg}}</b></p></div>
<div><p>班级排名: <b>{{classRank}}</b></p></div>
<div><p>全级平均分: <b>{{gradeAvg}}</b></p></div>
<div><p>全级排名: <b>{{gradeRank}}</b></p></div>
<div><p>==========综合科==========</p></div>
<div><p><b>{{complexSubject}}</b></p></div>
<div><p>总分: <b>{{allScore_complexSubject}}</b></p></div>
<div><p>你的分数: <b>{{yourScore_complexSubject}}</b></p></div>
<div><p>班级平均分: <b>{{classAvg_complexSubject}}</b></p></div>
<div><p>班级排名: <b>{{classRank_complexSubject}}</b></p></div>
<div><p>全级平均分: <b>{{gradeAvg_complexSubject}}</b></p></div>
<div><p>全级排名: <b>{{gradeRank_complexSubject}}</b></p></div>
<div><p>==========原始信息==========</p></div>
<div><p><b>{{strResult}}</b></p></div>

{% endblock %}
